.findFild {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.14;
  margin-top: 20px;
}
.inputFind {
  width: 250px;
  border: 1px solid grey;
  padding: 5px;
  margin-top: 10px;
}
